<form action="/square/results">
  <label for="girrafe">Enter a number</label>
  <input id="girrafe" type="text" placeholder ="what number do you want to square" name="number">
  <button>Calculate square</button>
</form>
